# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build outputs
dist/
build/
.next/
.nuxt/
out/

# Environment variables
.env
.env.local
.env.*.local

# IDE-specific files
.vscode/
*.code-workspace
.idea/
*.iml

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp

# Ignore Python virtual environments
venv/
backend/training/venv/
backend/talkability_app/bert-urgency-classification/
backend/talkability_app/bert-department-classification/
